@import 'variables/variables'

.nav-container
    width: 100%
    nav
        width: 70%
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        padding: 1rem 0
        .nav-left
            a
                text-decoration: none
                color: #000
                font-family: $font-family-lobster
                font-size: 2rem
                font-weight: 400
        .nav-right
            display: flex
            align-items: center
            gap: 2rem
            a
                text-decoration: none
                color: #000
            .nav-btn-outline
                border: 1px solid #dfdfdf
                color: #000
                border-radius: 10px
                padding: 0.5rem 1rem
                font-weight: 600
                display: flex
                align-items: center
                gap: 0.5rem
                transition: all 0.3s ease-in-out
                &:hover
                    background: #dfdfdf
            .nav-btn
                color: #fff
                background: #000
                border-radius: 10px
                padding: 0.5rem 1rem
                font-weight: 600
                display: flex
                align-items: center
                gap: 0.5rem

.footer-container
    width: 100%
    // background: #000
    // color: #fff
    .footer
        width: 70%
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        padding: 1rem 0
        .footer-left
        .footer-right
            a
                text-decoration: none
                color: #000
                font-weight: 600
                padding: 0.5rem 1rem
                border-radius: 10px
                display: flex
                align-items: center
                gap: 0.5rem
                transition: all 0.3s ease-in-out
                &:hover
                    background: #dfdfdf

